# dependencies
node_modules/

# next.js
.next/
out/
build/

# env
.env
.env*.local

# db
prisma/dev.db
prisma/dev.db-journal
*.db
*.db-journal

# misc
.DS_Store
*.pem
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# lockfile regenerated via npm install
package-lock.json
